<form [formGroup]="throughputTimeForm">
    <mat-form-field appearance="fill">
        <mat-label>Marchentfernung</mat-label>
        <input type="number" matInput formControlName="marchDistance" required min="0.5" step=".5">
        <mat-hint>in Kilometern</mat-hint>
        <mat-error>
            Eine Zahl größer als <strong>0</strong> ist <strong>zwingend</strong> notwendig!
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Marschgeschwindigkeit</mat-label>
        <input type="number" matInput formControlName="marchSpeed" required min="1">
        <mat-hint>in Kilometern pro Stunde</mat-hint>
        <mat-error>
            Eine ganze Zahl größer als <strong>0</strong> ist <strong>zwingend</strong> notwendig!
        </mat-error>
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
        <mat-label>Marschpause</mat-label>
        <input type="number" matInput formControlName="marchPause" required min="0">
        <mat-hint>in Minuten</mat-hint>
        <mat-error>
            Eine Zahl ist <strong>zwingend</strong> notwendig!
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Durchlaufzeit</mat-label>
        <input type="number" matInput formControlName="marchThroughputTime" min="0">
        <mat-hint>in Minuten</mat-hint>
        <mat-error>
            Die Zahl darf nicht <strong>negativ</strong> sein!
        </mat-error>
    </mat-form-field>
</form>
<p class="result">{{ result }}</p>