<form [formGroup]="throughputTimeForm">
    <mat-form-field appearance="fill">
        <mat-label>Marschkolonnenabstand</mat-label>
        <input type="number" matInput formControlName="marchColumnDistance" required min="1">
        <mat-hint>in Kilometern</mat-hint>
        <mat-error>
            Eine Zahl größer als <strong>0</strong> ist <strong>zwingend</strong> notwendig!
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Marschgeschwindigkeit</mat-label>
        <input type="number" matInput formControlName="marchSpeed" required min="1">
        <mat-hint>in Kilometern pro Stunde</mat-hint>
        <mat-error>
            Eine ganze Zahl größer als <strong>0</strong> ist <strong>zwingend</strong> notwendig!
        </mat-error>
    </mat-form-field>
</form>
<p class="result">{{ result }}</p>