<form [formGroup]="calculateByAmountOfVehiclesAndTrailersForm">
    <mat-form-field appearance="fill">
        <mat-label>Anzahl Fahrzeuge</mat-label>
        <input type="number" matInput formControlName="vehicleAmount" required min="1">
        <mat-hint>in Metern</mat-hint>
        <mat-error>
            Eine Zahl größer als <strong>0</strong> ist <strong>zwingend</strong> notwendig!
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Länge pro Fahrzeuge</mat-label>
        <input type="number" matInput formControlName="vehicleLength" required min="1">
        <mat-hint>in Metern</mat-hint>
        <mat-error>
            Eine Zahl größer als <strong>0</strong> ist <strong>zwingend</strong> notwendig!
        </mat-error>
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
        <mat-label>Anzahl Anhänger</mat-label>
        <input type="number" matInput formControlName="trailerAmount" required min="0">
        <mat-hint>in Metern</mat-hint>
        <mat-error>
            Eine Zahl ist <strong>zwingend</strong> notwendig!
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" *ngIf="calculateByAmountOfVehiclesAndTrailersForm.controls['trailerAmount'].value > 0">
        <mat-label>Länge pro Anhänger</mat-label>
        <input type="number" matInput formControlName="trailerLength" [required]="calculateByAmountOfVehiclesAndTrailersForm.controls['trailerAmount'].value > 0" min="1">
        <mat-hint>in Metern</mat-hint>
        <mat-error>
            Eine Zahl größer als <strong>0</strong> ist <strong>zwingend</strong> notwendig!
        </mat-error>
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
        <mat-label>Marschabstand</mat-label>
        <input type="number" matInput formControlName="vehicleDistance" required min="1">
        <mat-hint>in Metern</mat-hint>
        <mat-error>
            Eine Zahl größer als <strong>0</strong> ist <strong>zwingend</strong> notwendig!
        </mat-error>
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
        <mat-label>Anzahl Marschkolonnen</mat-label>
        <input type="number" matInput formControlName="marchingColumnAmount" required min="1">
        <mat-error>
            Eine Zahl größer als <strong>0</strong> ist <strong>zwingend</strong> notwendig!
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Anzahl Marschkolonnen</mat-label>
        <input type="number" matInput formControlName="marchingColumnDistance" required min="1">
        <mat-hint>in Kilometern, wird erst ab 2 Kolonnen hinzugefügt</mat-hint>
        <mat-error>
            Eine Zahl größer als <strong>0</strong> ist <strong>zwingend</strong> notwendig!
        </mat-error>
    </mat-form-field>
</form>
<p class="result">{{ result }}</p>