<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Marschlänge"><app-march-calculator-length class="center"></app-march-calculator-length></mat-tab>
    <mat-tab label="Durchlaufzeit"><app-march-calculator-throughput-time class="center"></app-march-calculator-throughput-time></mat-tab>
    <mat-tab label="Marschzeit"><app-march-calculator-march-time class="center"></app-march-calculator-march-time></mat-tab>
    <mat-tab label="Marschabstand"><app-march-calculator-march-column-distance class="center"></app-march-calculator-march-column-distance></mat-tab>
</mat-tab-group>