<mat-sidenav-container>
  <mat-sidenav mode="push">
    <mat-toolbar color="primary">Formulare</mat-toolbar>
    <mat-list (click)="sidenav.close()">
      <mat-list-item><a mat-flat-button routerLink="/march-calculator" routerLinkActive="active">Marsch Rechner</a></mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>THW Formulare</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>